<h1><%=@doctor.name%></h1>

<% @doctor.appointments.each do |appointment| %>
  With <a href="<%=patient_path(appointment.patient)%>"><%=appointment.patient.name%></a> on <%=appointment.appointment_datetime.strftime('%B %e, %Y at %H:%M')%>
  <br>
<% end %>